<div class="wrapper">
  <!-- File 1 -->
  <div class="container">
    <h2 class="page-title">تحميل ملفات المعاملات المصرفية</h2>
    <div class="form-group">
      <label for="fileUpload">تحميل الملف</label>
      <input type="file" class="form-control-file" id="fileUpload1" (change)="onFileUpload1($event)">
      <div *ngIf="selectedFile1">
        <span *ngIf="!isUploading1">{{ selectedFile1.name }}</span>
        <button mat-icon-button color="warn" *ngIf="!isUploading1" (click)="undoFileSelection(1)">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </div>

    <button class="btn btn-primary upload-btn" [disabled]="!selectedFile1 || isUploading1" (click)="uploadFile1()">
      {{ isUploading1 ? 'جارٍ التحميل...' : 'تحميل الملف' }}
    </button>
  </div>

  <!-- File 2 -->
  <div class="container">
    <h2 class="page-title">تحميل ملفات البطاقة</h2>
    <div class="form-group">
      <label for="fileUpload">تحميل الملف</label>
      <input type="file" class="form-control-file" id="fileUpload2" (change)="onFileUpload2($event)">
      <div *ngIf="selectedFile2">
        <span *ngIf="!isUploading2">{{ selectedFile2.name }}</span>
        <button mat-icon-button color="warn" *ngIf="!isUploading2" (click)="undoFileSelection(2)">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </div>

    <button class="btn btn-primary upload-btn" [disabled]="!selectedFile2 || isUploading2" (click)="uploadFile2()">
      {{ isUploading2 ? 'جارٍ التحميل...' : 'تحميل الملف' }}
    </button>
  </div>

  <!-- File 3 -->
  <div class="container">
    <h2 class="page-title">تحميل ملفات الحساب</h2>
    <div class="form-group">
      <label for="fileUpload">تحميل الملف</label>
      <input type="file" class="form-control-file" id="fileUpload3" (change)="onFileUpload3($event)">
      <div *ngIf="selectedFile3">
        <span *ngIf="!isUploading3">{{ selectedFile3.name }}</span>
        <button mat-icon-button color="warn" *ngIf="!isUploading3" (click)="undoFileSelection(3)">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </div>

    <button class="btn btn-primary upload-btn" [disabled]="!selectedFile3 || isUploading3" (click)="uploadFile3()">
      {{ isUploading3 ? 'جارٍ التحميل...' : 'تحميل الملف' }}
    </button>
  </div>
</div>