<div class="card-details">
  <h2 class="direction">تفاصيل بطاقة الفيزا</h2>

  <div class="search-bar">
    <input type="text" placeholder="ابحث باستخدام رقم الحساب أو رقم البطاقة أو الاسم" [(ngModel)]="searchQuery"
      (input)="performSearch()" />
    <button (click)="performSearch()">Search</button>
  </div>
  <br>

  <h3 class="direction">نتائج البحث</h3>
  <table>
    <thead>
      <tr>
        <th>رقم الحساب</th>
        <th>رقم البطاقة</th>
        <th>اسم صاحب البطاقة</th>
        <!-- Add other table headers if needed -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let result of searchResults">
        <td>{{ result.AccountNumber }}</td>
        <td>{{ result.maskedCardNumber.replace(' 0', '') }}</td>
        <td>{{ result.CustomerName }}</td>
        <!-- Add other table data cells if needed -->
      </tr>
    </tbody>
  </table>
  <h3 class="direction">بيانات البطاقة</h3>
  <table>
    <thead>
      <tr>
        <th>العملة</th>
        <th>الرصيد</th>
        <th>القيمة المحجوزة</th>
        <th>تاريخ الانتهاء</th>
        <th>تاريخ الاصدار</th>
        <th>اسم صاحب البطاقة</th>
        <th>رقم البطاقة</th>
        <th>رقم الحساب</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let result of searchResults">
        <td>{{ getAccountCurrency(result.AccountNumber) }}</td>
        <td>{{ getAccountBalance(result.AccountNumber) }}</td>
        <td>{{ getAccountArrestedAmounts(result.AccountNumber) }}</td>
        <td>{{ result.ExpiryDate }}</td>
        <td>{{ result.CreationDate }}</td>
        <td>{{ result.CustomerName }}</td>
        <td>{{ result.maskedCardNumber.replace(' 0', '') }}</td>
        <td>{{ result.AccountNumber }}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <!-- <div class="print-button">
    <button routerLink="['/delivery-report', result._id]">طباعة نموذج الاستلام</button>
  </div> -->

  <div class="print-button" *ngIf="searchResults.length > 0">
    <button [routerLink]="['/delivery-report', searchResults[0]._id]">طباعة نموذج الاستلام</button>
  </div>
</div>

<!-- <div class="print-button">
  <button routerLink="delivery-report">طباعة نموذج الاستلام</button>
</div> -->
<!-- <h3>سجل العمليات</h3>
    <table>
    <thead>
      <tr>
        <th>تاريخ العملية</th>
        <th>نوع العملية</th>
        <th>قيمة العملية بعملة البطاقة</th>
        <th>العملة</th>
        <th>القيمة المسحوبة</th>
        <th>نوع السحب</th>
        <th>مكان السحب</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{ transaction.transactionDate }}</td>
        <td>{{ transaction.transactionType }}</td>
        <td>{{ transaction.transactionValue }}</td>
        <td>{{ transaction.currency }}</td>
        <td>{{ transaction.withdrawnValue }}</td>
        <td>{{ transaction.withdrawalType }}</td>
        <td>{{ transaction.withdrawalPlace }}</td>
      </tr>
    </tbody>
  </table> 
<br>
  <h3>رسوم البطاقة</h3>
  <table>
    <thead>
      <tr>
        <th>عدد الرسوم</th>
        <th>قيمة الرسوم</th>
        <th>قيمة السحب</th>
        <th>قيمة الشراء</th>
        <th>قيمة العمولات</th>
        <th>عدد عمليات السحب</th>
        <th>عدد عمليات الشراء</th>
        <th>عددالعمولات</th>
      </tr>
    </thead>
  </table> -->
<!-- </div> -->