<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  <title>Sign in & Sign up Form</title>
</head>

<body>
  <div class="container" [ngClass]="{ 'sign-up-mode': isSignUpMode }">
    <div class="forms-container">
      <div class="signin-signup">


        <!-- ******************  Sign in  ************************************ -->
        <form (submit)="onLogin()" action="#" class="sign-in-form">
          <h2 class="title">Sign in</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="اسم المستخدم"  [(ngModel)]="username" name="username"  />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="الرمز السري" [(ngModel)]="password" name="password" />
          </div>
          <input type="submit" value="Login" class="btn solid" />
        </form>


        <!-- ******************  Sign up  ************************************ -->

        <form (submit)="onRegister()" action="#" class="sign-up-form">
          <h2 class="title">تسجيل حساب</h2>
          <div class="alert-danger">
            <flash-messages></flash-messages>
          </div>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" [(ngModel)]="firstname" name="firstname" placeholder="الاسم باللفة العربية" />
          </div>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" [(ngModel)]="lastname" name="lastname" placeholder="اسم العائلة باللفة العربية" />
          </div>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" [(ngModel)]="username" name="username" placeholder="اسم المستخدم" />
          </div>
          <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="email" [(ngModel)]="email" name="email" placeholder="البريد الالكتروني" />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" [(ngModel)]="password" name="password" placeholder="الرمز السري" />
          </div>
          <input type="submit" class="btn" value="Sign up" />
        </form>



      </div>
    </div>

    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>جديد هنا؟</h3>
          <h3>
            BCD Cards قم بتسجيل حساب للتمكن من استخدام منظومة 
          </h3>
          <button class="btn transparent" (click)="onSignUpClick()">
            Sign up
          </button>
        </div>
        <img src="img/log.svg" class="image" alt="" />
      </div>
      <div class="panel right-panel">
        <div class="content">
          <h3>واحد منا؟</h3>
          <p>تساعد موظفين مصرف التجارة و التنمية على تنفيذ المهام اليومية وخدمة العملاء <span>BCD Cards </span></p>
          <button class="btn transparent" (click)="onSignInClick()" id="sign-in-btn">
            Sign in
          </button>
        </div>
        <img src="img/register.svg" class="image" alt="" />
      </div>
    </div>
  </div>
</body>

</html>