.card {
    padding: 4vh 0;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top: 8px solid #F1B616;
    border-left: none;
    border-right: none;
    direction: rtl;
    height: auto;
    width: 100%;
    /* Adjust this value to your desired width */
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .card {
        width: 95%;
        /* Adjust this value for smaller screens */
    }
}


.title {
    color: rgb(49, 46, 46);
    font-weight: bold;
    margin-bottom: 2vh;
    padding: 0 8%;
    text-align: center;
    font-size: 3rem;
}

#details {
    font-weight: 400
}

.info {
    padding: 5% 8%;
    color: rgb(66, 64, 64);

}

.info .col-5 {
    padding: 0
}

#heading {
    color: black;
    font-weight: bold;
    line-height: 6vh
}

.pricing {
    background-color: rgba(104, 101, 101, 0.2);
    padding: 2vh 8%;
    line-height: 2;
    max-height: 60vh; /* Adjust the max height as needed */
    overflow-y: auto; /* Add vertical scroll if needed */
}

.pricing-table {
    background-color: rgba(104, 101, 101, 0.2);
    padding: 2vh 2%;
    line-height: 2;
    max-height: 60vh; /* Adjust the max height as needed */
    overflow-y: auto; /* Add vertical scroll if needed */
}

.pricing span {
    font-size: medium;
}

.card-info {
    font-size: medium;
    color: rgb(49, 48, 48);
}

.horizontal-dotted-line {
    display: flex;
    width: 300px;
    padding: 5px;
    font-size: small;
    color: black;
}

.horizontal-dotted-line:after {
    border-bottom: 1px dotted black;
    content: '';
    flex: 1;
}


.pricing .col-3 {
    padding: 0
}

.subheader {
    color: black;
}

.total {
    padding: 2vh 8%;
    color: #F1B616;
    font-weight: bold
}

.total .col-3 {
    padding: 0
}

.footer {
    padding: 0 8%;
    font-size: large;
    color: black;
    margin-top: 0;
    padding-top: 0;
    position: static;
}


.footer .btn {
    cursor: pointer;
    border: none;
    text-decoration: none;
    background-color: #F1B616;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px; /* Increase the margin for spacing */
}

th, td {
    text-align: center;
    padding: 8px; /* Increase padding for spacing and appearance */
    border: 1px solid #ddd;
    font-size: 12px; /* Adjust font size as needed */
}

td {
    background-color: white;
    color: black;
}

thead {
    background-color: #F1B616;
    color: #fff;
    font-weight: bold; /* Make table header text bold */
}

tbody tr:hover {
    background-color: #f2f2f2; /* Change the background color on hover */
}

/* Responsive table styles */
@media screen and (max-width: 768px) {
    table {
        font-size: 10px; /* Decrease font size for small screens */
    }
    th, td {
        padding: 6px; /* Decrease padding for small screens */
    }
}

.pricing table {
    width: 100%; /* Make the table responsive within its container */
}

/* Add overflow and max-height to make the table scrollable if it exceeds the page */