body {
    background: #ddd3;
    height: 100vh;
    vertical-align: middle;
    display: flex;
    font-family: Muli;
    font-size: 14px
}

.card {
    margin: auto;
    width: 100%;
    /* max-width: 600px; */
    padding: 4vh 0;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top: 8px solid #F1B616;
    border-bottom: 8px solid #F1B616;
    border-left: none;
    border-right: none;
    direction: rtl;
}

hr.style2 {
    border-top: 5px double black;
}

@media(max-width:768px) {
    .card {
        width: 90%
    }
}

.title {
    color: #F1B616;
    font-weight: bold;
    margin-bottom: 2vh;
    padding: 0 8%;
    font-size: initial;
    text-align: center;

}

#details {
    font-weight: 400
}

.info {
    padding: 5% 8%;

}

.info .col-5 {
    padding: 0
}

#heading {
    color: grey;
    line-height: 6vh
}

.pricing {
    background-color: #ddd3;
    padding: 2vh 8%;
    font-weight: 400;
    line-height: 2.5;
    box-shadow: 4px 6px 10px 6px rgba(0, 0, 0, 0.19);

}


.pricing .col-3 {
    padding: 0
}

.total {
    padding: 2vh 8%;
    color: #F1B616;
    font-weight: bold
}

.total .col-3 {
    padding: 0
}

.footer {
    padding: 0 8%;
    font-size: large;
    color: black
}

.footer img {
    height: 5vh;
    opacity: 0.2
}

.footer a {
    color: #F1B616;
}

.footer .col-10,
.col-2 {
    display: flex;
    padding: 3vh 0 0;
    align-items: center
}

.footer .row {
    margin: 0
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-actions .btn {
    margin-right: 10px;
    cursor: pointer;
    background-color: #F1B616;
    color: white;
}

.print-button button {
    background-color: #F1B616;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.print-button button:hover {
    background-color: #d5a614;
}

@media screen and (max-width: 768px) {

    /* Responsive styles */
    .print-button {
        bottom: 10px;
        right: 10px;
        background-color: #F1B616;

    }

    .print-button button {
        font-size: 14px;
        padding: 8px 16px;
    }
}