<!-- Main nav list -->
<mat-nav-list class="mat-typography">
  <a mat-list-item routerLink="/clients">
    <mat-icon>person_pin</mat-icon>
    &nbsp;  بياتات الزبون
  </a>

  <ng-container *ngIf="!authStatus.authorized">
    <a mat-list-item routerLink="/cards">
      <mat-icon>credit_card</mat-icon>
      &nbsp;  بيانات البطاقة
    </a>
    
    <a mat-list-item routerLink="/bank-statement">
      <mat-icon>account_balance</mat-icon>
      &nbsp; البيانات المصرفية 
    </a>

    <a mat-list-item>
      <mat-icon>dashboard</mat-icon>
      &nbsp; AMEX 
    </a>
  </ng-container>
  
  <a mat-list-item routerLink="/upload">
    <mat-icon>upload</mat-icon>
    &nbsp; رفغ ملفات
  </a>
  <a mat-list-item (click)="onLogout()" href="#">
    <mat-icon>logout</mat-icon>
    &nbsp;   تسجيل الخروج
  </a>
</mat-nav-list>
