<div class="branch-info">
  <h2>معلومات الفرع أو الوكالة</h2>

  <div class="search-bar">
    <!-- <mat-form-field class="example-full-width">
      <mat-label>Select an option</mat-label>
      <mat-select [(value)]="selected">
        <mat-option>None</mat-option>
        <mat-option value="option1">Option 1</mat-option>
        <mat-option value="option2">Option 2</mat-option>
        <mat-option value="option3">Option 3</mat-option>
      </mat-select>
    </mat-form-field> -->
       
    <!-- <mat-form-field class="example-full-width">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> -->

   
    <div class="container">
      <mat-form-field appearance="outline">
        <mat-label>التاريخ</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>الفرع</mat-label>
        <mat-select [(value)]="selectedBranch">
          <mat-option *ngFor="let branch of branches" [value]="branch">
            {{ branch }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
    <!-- <button class="btn btn-primary" (click)="performSearch()">بحث</button> -->
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>الفرع</th>
        <th>تاريخ الحقيبة</th>
        <th>الرقم التسلسلي</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let branch of branchData">
        <td>{{ branch.name }}</td>
        <td>{{ branch.portfolioDate }}</td>
        <td>{{ branch.serialNumber }}</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>تاريخ الاصدار</th>
        <th>تاريخ الانتهاء</th>
        <th>رقم الحساب</th>
        <th>العملة</th>
        <th>رقم البطاقة</th>
        <th>اسم صاحب البطاقة</th>
        <th>الرصيد الحالي</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let card of cardData">
        <td>{{ card.releaseDate }}</td>
        <td>{{ card.expiryDate }}</td>
        <td>{{ card.accountNumber }}</td>
        <td>{{ card.currency }}</td>
        <td>{{ card.cardNumber }}</td>
        <td>{{ card.cardHolderName }}</td>
        <td>{{ card.currentBalance }}</td>
      </tr>
    </tbody>
  </table>

  <div class="print-button">
    <button (click)="printReport()">طباعة التقرير</button>
  </div>
</div>